<% include partials/header %>
<h1><%= apartments.name %> </h1>

<img src = "<%= apartments.image %>">

<p><%= apartments.description %></p>

<% apartments.comments.forEach(function(comment){ %>
    <p>
        <strong><%= comment.author %></strong> - <%= comment.text %>
    </p>
<% }) %>
<% include partials/footer %>