<% include ../partials/header %>
<h1><%= apartments.name %> </h1>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">Apts</p>
            <div class="list-group">
                <li class="list-group-item active">Info-1</li>
                <li class="list-group-item">Info-2</li>
                <li class="list-group-item">Info-3</li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src = "<%= apartments.image %>">
                <div class="caption-full">
                    <h4 class="pull-right">260/month</h4>
                    <h4><a><%= apartments.name %></a></h4>
                    <p><%= apartments.description %></p>
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <a class="btn btn-success" href="/apartments/<%= apartments._id %>/comments/new">Add new Comments</a>
                </div>
                <hr>
                <% apartments.comments.forEach(function(comment){ %>
                <div class="row">
                    <div class=col-md-12>
                        <strong><%= comment.author %></strong>
                        <span class="pull-right">10 days ago</span>
                        <p><%= comment.text %></p>
                    </div>
                </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>