<% include ../partials/header %>
<h1><%= apartments.name %> </h1>

<img src = "<%= apartments.image %>">

<p><%= apartments.description %></p>
<p>
    <a class="btn btn-success" href="/apartments/<%= apartments._id %>/comments/new">Add new Comments</a>
</p>
<% apartments.comments.forEach(function(comment){ %>
    <p>
        <strong><%= comment.author %></strong> - <%= comment.text %>
    </p>
<% }) %>
<% include ../partials/footer %>