<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">Apts</p>
            <div class="list-group">
                <li class="list-group-item active">Info-1</li>
                <li class="list-group-item">Info-2</li>
                <li class="list-group-item">Info-3</li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src = "<%= apartments.image %>">
                <div class="caption-full">
                    <h4 class="pull-right">260/month</h4>
                    <h4><a><%= apartments.name %></a></h4>
                    <p><%= apartments.description %></p>
                    <p><em>Submitted by <strong><%= apartments.author.username %></strong></em></p>
                    <% if(currentUser && apartments.author.id.equals(currentUser._id)){ %>
                        <a class="btn btn-warning" href="/apartments/<%=apartments._id%>/edit">Edit</a>
                        <form class="delete-form" action="/apartments/<%= apartments._id%>?_method=DELETE" method="POST">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    <% } %>
                    <div style="margin-top: 10px;">
                        <a class="btn btn-default" href="/apartments"><i class="fa fa-arrow-left"></i> Go back</a>
                    </div>
                </div>
            </div>
            
              <!--Review section-->
            <div class="thumbnail">
                <div class="caption-full">
                    <% if (apartments.rating === 0) { %>
                    <h5>
                        <em>No reviews yet.</em>
                    </h5>
                    <% } else { %>
                    <p>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star <% if (apartments.rating > 1.5) { %> checked <% } %>"></span>
                        <span class="fa fa-star <% if (apartments.rating > 2.5) { %> checked <% } %>"></span>
                        <span class="fa fa-star <% if (apartments.rating > 3.5) { %> checked <% } %>"></span>
                        <span class="fa fa-star <% if (apartments.rating > 4.5) { %> checked <% } %>"></span>
                        <em>(total reviews: <%= apartments.review.length %>)</em>
                    </p>
                    <p>
                        Current apartments rating: <strong><%= apartments.rating.toFixed(2) %></strong>
                    </p>
                    <p><h4>Latest reviews for this apartments:</h4></p>
                    <hr style="margin-top: 0;">
                    <% apartments.review.slice(0, 5).forEach(function(review){ %>
                    <div class="row">
                        <div class="col-md-3">
                            <%- '<span class="fa fa-star checked"></span>'.repeat(review.rating) %><%- '<span class="fa fa-star"></span>'.repeat(5 - review.rating) %>
                            <div>Review by: <strong><%= review.author.username %></strong></div>
                            <span><em><%= review.updatedAt.toDateString() %></em></span>
                        </div>
                        <div class="col-md-9">
                            <p style="text-align: justify; word-wrap: break-word;">
                                <%= review.text %>
                            </p>
                            <% if(currentUser && review.author.id.equals(currentUser._id)){ %>
                            <a class="btn btn-xs btn-warning"
                               href="/apartments/<%=apartments._id %>/review/<%=review._id %>/edit">Edit</a>
                            <form id="delete-form" action="/apartments/<%=apartments._id %>/review/<%=review._id %>?_method=DELETE" method="POST">
                                <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                            </form>
                            <% } %>
                        </div>
                    </div>
                    <hr>
                    <% }); %>
                    <div style="margin-bottom: 10px;">
                        <h4><a href="/apartments/<%= apartments._id %>/review"><i class="fa fa-search" aria-hidden="true"></i> See all reviews</a></h4>
                    </div>
                    <% } %>
                    <div>
                        <a class="btn btn-primary btn-lg <% if (currentUser && apartments.review.some(function (review) {return review.author.id.equals(currentUser._id)})) { %> disabled <% } %>" href="/apartments/<%= apartments._id %>/review/new">
                            Write a New Review</a>
                    </div>
                </div>
            </div>
            
            <!--comment section-->
            <div class="well">
                <div class="text-right">
                    <a class="btn btn-success" href="/apartments/<%= apartments._id %>/comments/new">Add new Comments</a>
                </div>
                <hr>
                <% apartments.comments.forEach(function(comment){ %>
                <div class="row">
                    <div class=col-md-12>
                        <strong><%= comment.author.username %></strong>
                        <span class="pull-right">10 days ago</span>
                        <p><%= comment.text %></p>
                        <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                            <a class="btn btn-xs btn-warning" href="/apartments/<%= apartments._id%>/comments/<%=comment._id%>/edit">Edit</a>
                            <form class="delete-form" action="/apartments/<%= apartments._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                                <button class="btn btn-xs btn-danger">Delete</button>
                            </form>
                        <% } %>
                    </div>
                </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>